body{
  font-family: 'Roboto';
  font-size: 1.2rem;
  /* text-align: justify; */
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
img{
  height:auto;
  width: auto;
  max-width: 100%;
}
.blog{
  width: 60%;
  margin: auto;
}
.card{
  width: 300px;
  height: auto;
  padding:20px;
}
a{
  text-emphasis: none;
  color:#fff;
  text-decoration:wavy;
}
.grid-div{
  min-height: 90vh;
  margin: auto;
  background-color: black;
  margin-bottom: 0;
}
.footer{
  background-color: #272727;
  padding:10px;
  margin: auto;
  text-align: center;
  font-size: 1rem;
}
.footer h1{
  margin: 0;
}