body{
  font-family: 'Roboto';
  font-size: 1.2rem;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
img{
  max-width: 100%;
}
.grid-div{
  margin:auto;
  padding:10px;
}
.row-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.card-div{
  margin: 20px auto;
  height:375px;
}
.card img{
  height:200px;
  object-fit: cover;
}
.card {
  height:100%;
}
.navbar-logo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}
.cursive{
  font-family:Georgia, 'Times New Roman', Times, serif
}